body{
	background-color: yellow;
}

.title{
	/*margin-top: 30px;
	margin-left:30px;*/
	margin: 30px auto auto 30px;
	color: white;
	font-size: 30px;
	/*margin: 30px;*/
}.par{
	/*margin: 30px auto auto 30px;*/
}.wrapper{
	margin-left: 30px auto auto 30px;
}.red{
	color: red;
}.image{
	margin-top: 30px;
	width: 500px;
}