/*base classes*/
.display-inline-block{
	display: inline-block;
}
/*base classes*/

body.yellow{
background-color: yellow;
}.wrapper{
margin: 30px auto auto 30px;
}.red{
color: red;
}.image{
	margin-top: 30px;
	width: 500px;
}.title{
color: white;
font-size: 30px;
}.par{
	margin-top: 30px;
}.test{
font-family: "ninoBold";

}.logo{
	margin-top: 30px;
	margin-left: 30px;
	width: 100px;
}.navigation{
	margin-left: 30px;
	margin-top: 22.5px;
}.navigation-a{
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	display: inline-block;
	text-decoration: none;
	font-family: sans-serif;
	/*border: 5px solid red;*/
}.banner-section{
	margin-top: 22.5px;
	margin-left: 30px;
}.banner-img{
	width: 1170px;
}
/*footer*/

.divider{
	height: 30px;
	width: 3px;
	background-color: #3D58A6;
	margin: auto 20px;
	margin-left: 40px;
	
}.social-img{
	height: 30px;
	margin-left: 25px;

}
/*footer